<div class="form-container">
    <h2>Antecedente Personal</h2>
  
    <form>
      <!-- Antecedentes -->
      <div class="form-row">
        <div class="form-group full-width">
          <label>Antecedentes Personales</label>
          <input type="text" [(ngModel)]="antecedentePersonal.antecedentesPersonales" name="antecedentesPersonales">
        </div>
        <div class="form-group full-width">
          <label>Antecedentes Familiares</label>
          <input type="text" [(ngModel)]="antecedentePersonal.antecedentesFamiliares" name="antecedentesFamiliares">
        </div>
        <div class="form-group full-width">
          <label>Gineco-Obstétricos</label>
          <input type="text" [(ngModel)]="antecedentePersonal.ginecoObstetricos" name="ginecoObstetricos">
        </div>
      </div>
  
      <!-- Datos numéricos -->
      <div class="form-row">
        <div class="form-group">
          <label>Gestas</label>
          <input type="number" [(ngModel)]="antecedentePersonal.gestas" name="gestas">
        </div>
        <div class="form-group">
          <label>Partos</label>
          <input type="number" [(ngModel)]="antecedentePersonal.partos" name="partos">
        </div>
        <div class="form-group">
          <label>Abortos</label>
          <input type="number" [(ngModel)]="antecedentePersonal.abortos" name="abortos">
        </div>
        <div class="form-group">
          <label>Cesáreas</label>
          <input type="number" [(ngModel)]="antecedentePersonal.cesareas" name="cesareas">
        </div>
      </div>
  
      <div class="form-row">
        <div class="form-group">
          <label>Vivos</label>
          <input type="number" [(ngModel)]="antecedentePersonal.vivos" name="vivos">
        </div>
        <div class="form-group">
          <label>Mortinatos</label>
          <input type="number" [(ngModel)]="antecedentePersonal.mortinatos" name="mortinatos">
        </div>
      </div>
  
      <!-- Fecha consulta -->
      
  
      <!-- Botón -->
      <div class="form-row">
        <button type="button" class="btn-primary" (click)="guardarYContinuar()">
          Siguiente
        </button>
      </div>      
    </form>
  </div>
  